@import './src/styles/variables';

.user-navigation {
    display: flex;
    align-items: center;
}

.user-btn {
    width: 30px;
    height: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 500px;
    padding: 40px 30px;
    border-radius: 10px;
    background-color: $neutral-secondary;
    color: $light-primary;

    .input {
        border-radius: 7px;

        &:hover {
            border-color: $light-primary;
        }
    }
}

.modal-title {
    font-size: 25px;
    font-weight: bold;
}

.cross-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;

    svg {
        width: 100%;
        height: 100%;

        path {
            fill: $light-secondary;
        }
    }
}

.fields-block {
    display: grid;
    gap: 20px;
}
