@import '../../styles/variables';

.input-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.input-label {
    font-size: 16px;
}

input {
    font-size: 16px;

    &::placeholder {
        color: $light-secondary;
    }
}

.default {
    width: 100%;
    padding: 8px 20px;
    border: 1px solid $light-secondary;
    border-radius: 20px;

    &:hover,
    &:active {
        border-color: $neutral-secondary;
    }

    &:focus {
        border-color: $neutral-secondary;
    }
}
