.rating {
    font-weight: bold;
}

.small {
    font-size: 18px;
}

.large {
    font-size: 18px;
}

.rating-low {
    color: #c80000;
}

.rating-mid {
    color: #e3be00;
}

.rating-high {
    color: #3bb33b;
}

.rating-null {
    font-size: 14px;
}
