@import './src/styles/variables';

.rating {
    .num-value {
        display: block;
        width: fit-content;
        font-weight: 700;
        color: #fff;

        &.low {
            background-color: #c80000;
        }

        &.mid {
            background-color: #e3be00;
        }

        &.high {
            background-color: #3bb33b;
        }

        &.null {
            font-size: 14px;
        }

        &.await-value {
            background-color: #3bb33b;
            font-size: 10px !important;
        }
    }

    &.simple-small {
        .num-value {
            font-size: 10px;
            border-radius: 4px;
            padding: 4px 10px;
        }
    }

    &.simple {
        .num-value {
            font-size: 12px;
            border-radius: 7px;
            padding: 7px 15px;
        }
    }

    &.extended {
        .num-value {
            font-size: 16px;
            border-radius: 10px;
            padding: 10px 25px;
        }
    }

    .votes {
        text-decoration: underline;
        font-size: 14px;
    }
}
