@import './src/styles/mixins';
@import './src/styles/variables';

.film-page {
    background-color: $dark-secondary;
    background-size: 500px;
    padding-bottom: 50px;
    mix-blend-mode: normal;
    color: $light-primary;
}

.inner {
    @include container;

    padding-bottom: 100px;
}

.film-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 40% 1fr 30%;
    grid-template-areas:
        ' rating-block .'
        ' header-block header-block'
        ' about-block about-block';
    align-items: start;
    padding-top: 50px;
}

.preview-block {
    display: grid;
    gap: 20px;
    grid-area: preview-block;
    width: 100%;
}

.header-block {
    grid-area: header-block;
    max-width: 600px;

    .titles-block {
        display: grid;
        gap: 5px;
        grid-area: titles-block;
        margin-bottom: 20px;
    }

    .original-name {
        font-size: 20px;
        font-weight: 300;
        color: $light-secondary;
    }

    .genres {
        grid-area: genres;
    }

    .short-description {
        line-height: 140%;
        font-weight: 300;
    }
}

.rating-block {
    grid-area: rating-block;
    display: grid;
    grid-template-areas:
        'rating-title rating-title'
        'rating read-votes-btn';
    gap: 10px;
    align-items: start;
    width: fit-content;
    height: fit-content;

    .rating-title {
        grid-area: rating-title;
    }

    .rating {
        grid-area: rating;
    }

    .read-votes-btn {
        grid-area: read-votes-btn;
    }
}

.about-block {
    grid-area: about-block;
    display: grid;
    gap: 40px;

    .details-list {
        display: grid;
        gap: 10px;

        .details-item {
            display: grid;
            gap: 5px;

            .details-item-title {
                color: $light-secondary;
                font-size: 14px;
            }
        }
    }

    .about-title {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 700;
    }

    .description {
        line-height: 170%;
    }
}

.staff-list {
    display: flex;
    flex-wrap: wrap;
}

.staff-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include container;

    padding: 20px 0;

    .staff-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .staff-img {
        width: 100%;
        height: auto;
    }

    .staff-list {
        display: flex;
        gap: 5px;
    }
}

.similar-films-block {
    @include container;

    padding: 50px 0;

    .similar-films-title {
        margin-bottom: 20px;
    }

    .similar-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}
