$desktop: 1200px;
$tablet: 768px;
$mobile: 320px;
$dark-primary: #0d0e1e;
$dark-secondary: #141936;
$light-primary: #f4f4f8;
$light-secondary: #dadbeb;
$neutral-primary: #293167;
$neutral-secondary: #7582d3;
$accent-primary: #e64e21;
