@import '../../styles/variables';

.primary {
    padding: 13px 24px;
    background-color: $accent-primary;
    color: #fff;
    min-width: 100px;
    border-radius: 10px;
    font-size: 14px;

    &:hover,
    &:focus {
        background-color: #f09149;
        transition: 0.2s;
    }

    &:active {
        background-color: #eda171;
    }
}

.stroked {
    width: fit-content;
    padding: 5px 14px;
    background-color: transparent;
    border: 1px solid $light-secondary;
    border-radius: 10px;

    &:hover,
    &:focus {
        opacity: 0.8;
        transition: 0.2s;
    }

    &:active {
        opacity: 0.6;
    }
}

.stroked-small {
    padding: 4px 15px;
    background-color: transparent;
    border: 1px solid $light-primary;
    border-radius: 10px;
    font-size: 10px;
}

.full-width {
    width: 100%;
}
